@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Mono';
  src: url('../public/fonts/SFMonoRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('../public/fonts/CalibreRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adelia';
  src: url('../public/fonts/adelia.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #393939;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585858;
}

/*Disabled ScrollBar Daisy UI*/
*,
*:hover {
  scrollbar-color: auto;
}

:root {
  --background: #1B1C21;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1C21;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Calibre', sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}

.section{
  min-height: calc(100vh - 75px);
}

#loading-svg {
  height: 200px;
  width: 200px;
  stroke: #27BBA0;
  fill-opacity: 0;
  stroke-width: 5px;
  stroke-dasharray: 4500;
  animation: draw 15s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset:0;
  }
}

:focus {
  outline: none;
}
