@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Mono';
  src: url('../public/fonts/SFMonoRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('../public/fonts/CalibreRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1C21;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Calibre', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}
